/* list.module.css */
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px 0;
    padding: 0 40px;
    gap: 30px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 14px;
  }
  
  .button {
    padding: 8px;
    font-size: 18px;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    gap: 10px;
  }
  
  .button:hover,
  .active .button {
    background-color: #fff;
    color: black;
    font-weight: 600;
  }
  
  .pageItem {
    list-style-type: none;
  }
  