.container {
    padding: 20px;
}

.title {
    font-weight: 350;
    text-align: center;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: inherit;
    background-color: white;
}

.orders{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 20vh;
}

.button{
    padding: 8px;
    width: auto;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    height: 40px;
}

.button:hover{
    background-color: black;
    color: #fff;
}