.container{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.selected {
    background-color: #f0f0f0;
}

.input{
    margin: 0 6px;

}

.label{
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-radius: 8px;
    gap: 8px;
}

.label:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
