.container{
    padding: 8px 46px;
    margin: 20px 0;
}

.top{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center3;
    flex-direction: column;
}

.title{
    font-size: 36px;
    font-weight: 600;
}

.rating{
    font-weight: 600;
    opacity: 0.8;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
}