.search {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__container {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
}

.search__input {
  width: 30rem;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.search__input:focus {
  outline: none;
}

.search__item {
  max-height: 200px; 
  width: 93%; 
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 5px); 
  left: 0;
  z-index: 999;
  background-color: rgb(244, 244, 244);
  padding: 14px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.search__item:hover {
  background-color: #eaeaff;
  border-radius: 8px;
}

.link{
  text-decoration: none;
  color: initial;
}